@-webkit-keyframes slide-in-bck-right {
    0% {
      -webkit-transform: translateZ(700px) translateX(400px);
              transform: translateZ(700px) translateX(400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-right {
    0% {
      -webkit-transform: translateZ(700px) translateX(400px);
              transform: translateZ(700px) translateX(400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }


.singular-regular{
    font-family: "Sigmar" serif;
    font-weight: 400;
    font-style: normal;
}


.playwrite-it-moderna{
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.form{
    border-radius: 25px;
    background-color: rgba(12, 12, 12, 0.795);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.form input{
    padding:9px;
    border-radius: 15px;
    border:none;
    font-family: 'Playwrite IT Moderna';
    width: 100%;
    gap: 10px;
}

.form button{
    padding:10px;
    font-family: 'Playwrite IT Moderna';
    border-radius: 15px;
    border: none;
    margin: 10px;
    font-size: 18px;
}

.form .botones-form{
    display: flex;
    justify-content: center;
}

.form .botones-form .Guardar{
    background-color: rgb(112, 112, 112);
    color: white;
    transition: .4s;
}

.form .botones-form .Guardar:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

.form .botones-form .Cancelar{
    background-color: rgb(112, 112, 112);
    color: white;
    transition: .4s;
}

.form .botones-form .Cancelar:hover{
    background-color: rgb(255, 3, 3);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.form .cont-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}